<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>Online Marking System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">

</head>

<body>
<header id="header">

    <div id="topbar">

    </div>

    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="text-light"><a href="#intro" class="scrollto"><span>在线阅卷系统</span></a></h1>
            <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li class="active"><a href="#intro">首页</a></li>
                <li><a href="/download">下载答题卡模板</a></li>
                <li><a href="answer">填写标准答案</a></li>
                <li><a href="#portfolio">学生成绩</a></li>
                <li><a href="#footer">About Us</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro" class="clearfix">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
            <div class="col-md-6 intro-info order-md-first order-last">
                <h2>Rapid Solutions<br>for <span>Teachers!</span></h2>
                <div>
                    <form method="POST" action="/upload" enctype="multipart/form-data">
                        <table>
                            <td valign = "bottom">
                                <button type="button" class="btn btn-default btn-lg">
                                    <input id="file" type="file" name="file" value="点击上传试卷"/>
                                </button>
                                <br>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"></div>
                                </div>
                            </td>
                            <td valign = "bottom">
                                <button id="start" type="submit" class="btn btn-info">上传</button>
                            </td>
                        </table>
                    </form>
                </div>
                <br>
                <div>
                    <table>
                        <tr>
                            <td>
                                <form method="POST" action="/answer" enctype="multipart/form-data">
                                    <button type="submit" class="btn btn-info">填写标准答案</button>
                                </form>
                            </td>
                            <td>
                                <form method="POST" action="/download" enctype="multipart/form-data">
                                    <button type="submit" class="btn btn-info">下载答题卡</button>
                                </form>
                            </td>
                        </tr>

                    </table>
                </div>
                <br><br><br>
                <div class="cta-content d-xl-flex align-items-center justify-content-around text-center text-xl-left">
                    <form method="POST" action="/result" enctype="multipart/form-data">
                        <button type="submit" class="btn btn-primary btn-shadow btn-lg">开始评卷</button>
                    </form>
                </div>
            </div>

            <div class="col-md-6 intro-img order-md-last order-first">
                <img src="/img/intro-img.svg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</section><!-- #intro -->


<!--==========================
  Footer
============================-->
<footer id="footer" class="section-bg">


    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Group-Five</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
            -->
            Designed by <a href="#about">Group-Five</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/mobile-nav/mobile-nav.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/js/main.js"></script>

<script  th:inline="javascript">
    $(function () {
        console.log('1234')
    });

    var message = [[${message}]];
    if (message!=null){
        if (message.indexOf("successfully") >= 0){
            $('.container').css('display', 'none')
            $('.suc h1').html('successfully')
            $('.suc p').html(message)
            $('.suc').css('display', 'block')
        }
        else if (message.indexOf("select a file") >= 0){
            $('.container').css('display', 'none')
            $('.suc h1').html('failed')
            $('.suc p').html(message)
            $('.suc button').html('返回主页')
            $('.suc form').attr('action', '/fail2update')
            $('.suc').css('display', 'block')
        }
    }
</script>

</body>
</html>
