<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>系统详细评卷结果</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
    <style>
        .container_left input{
            width: 10%;
        }
        #container{
            display: flex;
        }

    </style>
</head>

<body class="answer">

<header id="header">

    <div id="topbar">

    </div>

    <div class="container">

        <div class="logo float-left">
            <!-- Uncomment below if you prefer to use an image logo -->
            <h1 class="text-light"><a href="#intro" class="scrollto"><span>在线阅卷系统</span></a></h1>
            <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="main-nav float-right d-none d-lg-block">
            <ul>
                <li><a href="/">首页</a></li>
                <li><a href="answer">下载答题卡模板</a></li>
                <li><a href="answer">填写标准答案</a></li>
                <li><a href="#portfolio">学生成绩</a></li>
                <li><a href="#footer">About Us</a></li>
            </ul>
        </nav><!-- .main-nav -->

    </div>
</header><!-- #header -->
<br><br><br><br><br>
    <div id="container" class="container">
    <div class="container container_left" style="width: 50%;float: left">
        <form method="POST" action="/result" enctype="multipart/form-data">
            <h3>一、选择题</h3>
            <div class="block1"></div><br>

            <h3>二、判断题</h3>
            <div class="block2"></div><br>

            <h3>三、填空题</h3>
            <div class="block3"></div><br>

            <h3>四、简答题</h3>
            <div class="block4"></div><br>

            <div class="float-right d-lg-block">
                <div class="button center-block">
                    <button type="button" class="btn btn-c btn-lg reset">清空</button>
                    <button type="submit" class="btn btn-save btn-lg">保存</button>
                    <!--            <button type="button" class="btn btn-primary btn-lg">返回</button>-->
                </div>
            </div>
        </form>
        <br><br><br>
        <div class="float-right d-lg-block">
            <form method="POST" action="/answer2update" class="back">
                <button type="submit" class="btn btn-back btn-lg">返回</button>
            </form>
        </div>
    </div>
    <div class="container container_right">
        <div>
<!--            <img src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1594191518,2147735963&amp;fm=26&amp;gp=0.jpg" alt="试卷">-->
            <img th:src="${path}" alt="试卷">
        </div>
    </div>
</div>

<br><br><br>

<!--==========================
  Footer
============================-->
<footer id="footer" class="section-bg">


    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Group-Five</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
            -->
            Designed by <a href="#about">Group-Five</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<!-- <div id="preloader"></div> -->

<!-- JavaScript Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/jquery/jquery-migrate.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/mobile-nav/mobile-nav.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/waypoints/waypoints.min.js"></script>
<script src="/lib/counterup/counterup.min.js"></script>
<script src="/lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/lib/isotope/isotope.pkgd.min.js"></script>
<script src="/lib/lightbox/js/lightbox.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/js/main.js"></script>

<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<tr th:each="answer : ${stu_answer}">
    <script th:inline="javascript">
        console.log('123');
        //for (var i=0; i<10; i++){
        if([[${answer.type}]] == "简答题")
            $('.block4').append('<textarea rows="1" cols="50"  name = "answer" >\n' +
                [[${answer.answer}]] +
                '</textarea><br> \n');
        //$('input').attr('th:placeholder', '123')
        //}
        $('.reset').on('click', function () {
            $("input").val("");
        })
    </script>
</tr>
<tr th:each="answer : ${stu_answer}">
    <script th:inline="javascript">
        console.log('123');
        //for (var i=0; i<10; i++){
        if([[${answer.type}]] == "选择题")
            $('.block1').append('<span><input type="text" name = "answer" th:text="" value=[[${answer.answer}]]></span>');
        //$('input').attr('th:placeholder', '123')
        //}
        $('.reset').on('click', function () {
            $("input").val("");
        })
    </script>
</tr>
<tr th:each="answer : ${stu_answer}">
    <script th:inline="javascript">
        console.log('123');
        //for (var i=0; i<10; i++){
        if([[${answer.type}]] == "判断题")
            $('.block2').append('<span><input type="text" name = "answer" th:text="" value=[[${answer.answer}]]></span>');
        //$('input').attr('th:placeholder', '123')
        //}
        $('.reset').on('click', function () {
            $("input").val("");
        })
    </script>
</tr>
<tr th:each="answer : ${stu_answer}">
    <script th:inline="javascript">
        console.log('123');
        //for (var i=0; i<10; i++){
        if([[${answer.type}]] == "填空题")
            $('.block3').append('<span><input type="text" name = "answer" th:text="" value=[[${answer.answer}]]></span>');
        //$('input').attr('th:placeholder', '123')
        //}
        $('.reset').on('click', function () {
            $("input").val("");
        })
    </script>
</tr>
</body>
</html>